<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Sample Multi Tenancy"/>
        <meta name="author" content="João Paulo Siqueira"/>
        <title>Start Page</title>
        <link rel="stylesheet" href="resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="resources/css/bootstrap-theme.min.css" th:href="@{/resources/css/bootstrap-theme.min.css}" />
        <link rel="stylesheet" href="resources/css/css.css" th:href="@{/resources/css/css.css}" />
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar" />
        <div id="container" class="ajusta-navbar">
            <div class="container-fluid">
                <div th:if="${user!=null}">
                    <label th:text="${user.firstName}"/>
                    <br/>
                    <label th:text="${user.email}"/>
                    <br/>
                    <label th:text="${user.password}"/>
                    <br/>
                    <label th:text="${user.systemDatabase.name}"/>
                </div>
                <div th:if="${empresas!=null}">
                    <div class="table-responsive">
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Razão Social</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="empresa : ${empresas}">
                                    <td th:text="${empresa.id}">ID</td>
                                    <td th:text="${empresa.razaoSocial}">Razão Social</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script src="resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
        <script src="resources/js/npm.js" th:src="@{/resources/js/npm.js}"></script>
        <script src="resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </body>
</html>